<div style='font-family: sans-serif'>
  <p>
    Dear $studentName,
  </p>
  <p>
    A report containing all your grades can be found in the following attachment.
  </p>
  <p>
    Regards,<br/>
    $professor
  </p>
</div>